
<h1>Loterias de 8 digitos</h1>

<label for="texto">Ingrese codigo: </label>
<input type="text" placeholder="Ingrese codigo" [(ngModel)]="codigo" onkeypress="respuesta1=0;respuesta2=0"> <br> <br>

<p for="codigo">{{codigo}}</p> <br> <br>

<button (click)="ganador()">Enviar respuesta</button><br> <br>


<label for="resultado">Resultado: </label>
<label id="resultado" *ngIf=" respuesta1 == 1 ">Eres el feliz ganador de una pizza con gaseosa</label>
<label id="resultado" *ngIf=" respuesta2 == 1 ">Eres el feliz ganador de un Renault 4</label>
<label id="resultado" *ngIf=" respuesta1 == 2 || respuesta2 == 2">No acertaste, sigue intentando</label>
